/*
    60%: #000000;
    30%: #1a1a1a;
    10%: #7d4ab8;
*/

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #000000;
    color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
.container{
    width: 93vw;
    padding: 5px 15px;
    margin: 10px auto;
}

#dark{
    position: fixed;
    right: 20px;
    top: 90%;
    color: white;
    font-size: 40px;
    cursor: pointer;
}
/*header*/
    .darkmode{
        box-shadow: 0px 0px 10px 5px #5b4773;
        background-color:#000000;
    }
    .lightmode{
        background: linear-gradient(left, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(2px);
    }
    header .container{
        border-radius: 25px;
    }
    header nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
    }
    header nav #humberger{
        display: none;
    }
    header nav menu{
        display: flex;
        list-style-type: none;
    }
    
    header nav menu li{
        margin-left: 20px;
        cursor: pointer;
    }

/*end header*/

/*home*/
    .home .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 100px;
    }
    .home h1{
        font-size: 80px;
        width: 70%;
    }
    .home p{
        font-weight: 500;
    }
    .home button{
        padding: 15px 35px;
        border-radius: 25px;
        border: none;
        margin: 25px 10px 50px;
        background-image: linear-gradient(90deg, #7d4ab8,#5b4773);
        cursor: pointer;
        font-weight: 500;
    }
    #join{
        color: #7d4ab8;
        background-color: transparent;
        border: 2px solid #7d4ab8;
        background-image: none;
        background: linear-gradient(left, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
    }
    .home .mainicons{
        width: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 30px;
        margin-top: 10px;
    }
    .home .mainicons div{
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-left: 10px;
    }
    .home .mainicons div p {
        font-size: 12px;
        margin-left: 3px;
    }

/*end home*/
@media (max-width: 769px){
    header .container{
        position: relative;
    }
    header nav #humberger{
        font-size: 30px;
        cursor: pointer;
        display:inline-block;
    }
    header nav menu{
        position: absolute;
        right: 0;
        top: 100%;
        width: 100%;
        height: 100vh;
        padding: 0;
        border-radius: 20px;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(right, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        text-align: center;
        z-index: 1;
    }
    header nav menu li{
        margin: 0;
        margin-bottom: 35px;
    }

    .home h1{
        font-size: 40px;
        width: 100%;
    }
}